$primaryColor: #065143;
$textOnPrimary: #50857b;
$textOnPrimaryActive: #b4cac6;
$primaryAccent: #129490;
$successColor: #009624;
$waitingColor: #007ac1;

$bgColor: #f3f3f3;
$textColor: #333;

$messageBackground: #eee;

$containerWidth: 1200px;
$mobileWidth: 60rem;